.footer {
  padding: 24px 40px;
  background-color: var(--bg);
  border-top: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    font-size: 14px;
    color: var(--text);
    font-weight: 500;
    text-align: center;
    opacity: 0.85;
  }
}
