.contacts {
  padding: 80px 40px;
  background-color: var(--bg);
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 36px;
    color: var(--text);
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  li {
    display: flex;
    gap: 8px;
    font-size: 16px;
    color: var(--text);
  }
  &__email,
  &__github {
    font-weight: 600;
    color: var(--text);
    opacity: 0.85;
  }
  &__link {
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.25s ease;
    &:hover {
      color: var(--accent);
      text-decoration: underline;
    }
  }
}
